:root,
.light {
  --background: oklch(0.97 0.04 250);
  --foreground: oklch(0.2 0.07 250);

  --card: oklch(0.985 0.03 250);
  --card-foreground: oklch(0.2 0.07 250);

  --popover: oklch(0.99 0.03 250);
  --popover-foreground: oklch(0.2 0.07 250);

  --primary: oklch(0.35 0.1 250);
  --primary-foreground: oklch(0.98 0.03 250);

  --secondary: oklch(0.9 0.05 260);
  --secondary-foreground: oklch(0.3 0.08 250);

  --muted: oklch(0.92 0.03 260);
  --muted-foreground: oklch(0.55 0.04 240 / 60%);

  --accent: oklch(0.88 0.06 250);
  --accent-foreground: oklch(0.28 0.06 250);

  --destructive: oklch(0.55 0.12 15);

  --border: oklch(0.82 0.04 250);
  --input: oklch(0.82 0.04 250);
  --ring: oklch(0.6 0.05 250);

  --chart-1: oklch(0.688 0.243 264.376);
  --chart-2: oklch(0.656 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.725 0.246 16.439);

  --sidebar: oklch(0.18 0.02 260);
  --sidebar-foreground: oklch(0.9 0.03 250);
  --sidebar-primary: oklch(0.85 0.03 250);
  --sidebar-primary-foreground: oklch(0.18 0.02 260);
  --sidebar-accent: oklch(0.28 0.03 260);
  --sidebar-accent-foreground: oklch(0.9 0.03 250);
  --sidebar-border: oklch(0.88 0.03 250);
  --sidebar-ring: oklch(0.65 0.05 250);
}


.dark {
  --background: oklch(0.18 0.03 260);
  --foreground: oklch(0.98 0.04 250);

  --card: oklch(0.22 0.03 260);
  --card-foreground: oklch(0.98 0.04 250);

  --popover: oklch(0.22 0.03 260);
  --popover-foreground: oklch(0.98 0.04 250);

  --primary: oklch(0.9 0.04 250);
  --primary-foreground: oklch(0.2 0.04 250);

  --secondary: oklch(0.3 0.03 260);
  --secondary-foreground: oklch(0.98 0.04 250);

  --muted: oklch(0.16 0.03 260);
  --muted-foreground: oklch(0.7 0.04 250);

  --accent: oklch(0.3 0.03 260);
  --accent-foreground: oklch(0.98 0.04 250);

  --destructive: oklch(0.6 0.18 20);

  --border: oklch(0.42 0.04 240);
  --input: oklch(0.42 0.04 240);
  --ring: oklch(0.55 0.02 250);

  --chart-1: oklch(0.688 0.243 264.376);
  --chart-2: oklch(0.656 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.725 0.246 16.439);

  --sidebar: oklch(0.3 0.03 260);
  --sidebar-foreground: oklch(0.98 0.04 250);
  --sidebar-primary: oklch(0.98 0.04 250);
  --sidebar-primary-foreground: oklch(0.3 0.03 260);
  --sidebar-accent: oklch(0.45 0.05 260);
  --sidebar-accent-foreground: oklch(0.98 0.04 250);
  --sidebar-border: oklch(0.42 0.04 240);
  --sidebar-ring: oklch(0.55 0.02 250);
}